<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!--

/**
 * © Copyright IBM Corporation 2016.  
 * This is licensed under the following license.
 * The Eclipse Public 1.0 License (http://www.eclipse.org/legal/epl-v10.html)
 * U.S. Government Users Restricted Rights:  Use, duplication or disclosure restricted by GSA ADP Schedule Contract with IBM Corp. 
 */

-->
<plugin xmlns="http://www.urbancode.com/PluginXMLSchema_v1" xmlns:server="http://www.urbancode.com/PluginServerXMLSchema_v1" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <header>
    <identifier id="com.ibm.mobilefirst.MAAS360" name="IBM MaaS360" version="25"/>
    <description>
      Various functionality related to integrating with MaaS360 via Web Services, such as authenticating, upgrading and retrieving app details.
	  </description>
    <tag>Mobile/IBM MaaS360</tag>
  </header>
  <step-type name="Request Authentication">
    <description>Sends an HTTP call to a URL for Authentication Token</description>
    <properties>
      <property name="url" required="true">
        <property-ui description="The Root WS URL to send the HTTP call. Should look like https://services.fiberlink.com/. Get the URL for your MaaS instance from Fiberlink" label="URL" type="textBox"/>
      </property>
      <property name="billing_id" required="true">
        <property-ui description="Billing Identifier - Available after customer enrolls with MaaS360." label="Billing ID" type="textBox"/>
      </property>
      <property name="platform_id" required="true">
        <property-ui description="This should be the application platform id provided during application provisioning." label="Platform ID" type="textBox"/>
      </property>
      <property name="app_id" required="true">
        <property-ui description="Provided during application provisioning." label="Application ID" type="textBox"/>
      </property>
      <property name="app_version" required="true">
        <property-ui description="Provided during application provisioning." label="Application Version" type="textBox"/>
      </property>
      <property name="app_access_key" required="true">
        <property-ui description="Generated after the application has been provisioned." label="Application Access Key" type="textBox"/>
      </property>
      <property name="username" required="true">
        <property-ui description="For use with basic authentication." label="MAAS Admin Username" type="textBox"/>
      </property>
      <property name="password" required="true">
        <property-ui description="For use with basic authentication." label="MAAS Admin Password" type="secureBox"/>
      </property>
      <property name="outFile">
        <property-ui description="If a file name is provided, the response body will be written to that file. The file name is relative to the working directory." label="Output File" type="textBox"/>
      </property>
    </properties>
    <post-processing><![CDATA[
        commandOut.print("==== Starting post processing ====\n");
		properties.put("Status", "Success");
		
		arrTestStatus = new java.util.ArrayList();
		
		commandOut.print("\nEstablishing Regular Expression\n")
		
		scanner.register("<authToken>", function(lineNumber, line){
		    var temp = line.replace(/.*<authToken>/g,"");
		    var auth_token = temp.replace(/<\/authToken><errorCode>[0-9]*<\/errorCode><\/authResponse>/g,"");
		    commandOut.print(auth_token);
		    properties.put("maas360.auth.token",auth_token)
		});
		
		scanner.scan();
		
		var exit = properties.get('exitCode');
		
		if (exit == 0) {
		    properties.put('Status', 'Success');
		}
		else {
		     properties.put('Status', 'Failure');
		}
		commandOut.print("\n==== End post processing ====\n");
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/commons-httpclient-3.1.jar:lib/commons-codec-1.3.jar:lib/commons-logging-1.1.jar:lib/mobilefirst-fiberlink.jar:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="sendAuthenticationCall.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  <step-type name="Upgrade App">
    <description>Sends a WebService call to Upgrade App</description>
    <properties>
      <property name="url" required="true">
        <property-ui description="The Root WS URL to send the HTTP call. Should look like https://services.fiberlink.com/. Get the URL for your MaaS instance from Fiberlink" label="URL" type="textBox"/>
      </property>
      <property name="billing_id" required="true">
        <property-ui description="Billing Identifier - Available after customer enrolls with MaaS360." label="Billing ID" type="textBox"/>
      </property>
      <property name="account_name" required="true">
        <property-ui description="" label="Account Name" type="textBox"/>
      </property>
      <property name="username" required="true">
        <property-ui description="For use with basic authentication." label="MAAS Admin Username" type="textBox"/>
      </property>
      <property name="password" required="true">
        <property-ui description="For use with basic authentication." label="MAAS Admin Password" type="secureBox"/>
      </property>
      <property name="auth_token" required="true">
        <property-ui default-value="${p?:environment/auth_token}" description="Token provided by the authentication web service called" label="Auth Token" type="textBox"/>
      </property>
      <property name="maas360hosted" required="true">
        <property-ui default-value="Yes" description="Provided during application provisioning." label="MaaS360 Hosted" type="textBox"/>
      </property>
      <property name="app_type" required="true">
        <property-ui description="Possible values: 1: iOS Enterprise Application 3: Android Enterprise Application" label="Application Type" type="textBox"/>
      </property>
      <property name="app_source" required="true">
        <property-ui description="The ipa/apk file to be uploaded." label="Application Source" type="textBox"/>
      </property>
      <property name="app_bundle_id" required="true">
        <property-ui description="The ipa's Bundle ID." label="Application Bundle ID" type="textBox"/>
      </property>
      <property name="maintain_as_additional_version" required="true">
        <property-ui description="Whether to upload as primary or secondary version. Possible Values: Yes | No" label="Additional version?" type="textBox"/>
      </property>
      <property name="app_version" required="false">
        <property-ui description="Version of app to be upgraded, if more than one version is stored" label="App Version to Upgrade" type="textBox"/>
      </property>
      <property name="app_attribute" required="false">
        <property-ui description="Attribute name and values." label="App Attribute(s)" type="textAreaBox"/>
      </property>
      <property name="outFile">
        <property-ui description="If a file name is provided, the response body will be written to that file. The file name is relative to the working directory." label="Output File" type="textBox"/>
      </property>
    </properties>
    <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/commons-httpclient-3.1.jar:lib/commons-codec-1.3.jar:lib/commons-logging-1.1.jar:lib/mobilefirst-fiberlink.jar:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="upgradeAPP.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  <step-type name="Upgrade App Plus">
    <description>Sends a WebService call to Upgrade App and allows you to specify maintaining as additional version</description>
    <properties>
      <property name="url" required="true">
        <property-ui description="The Root WS URL to send the HTTP call. Should look like https://services.fiberlink.com/. Get the URL for your MaaS instance from Fiberlink" label="URL" type="textBox"/>
      </property>
      <property name="billing_id" required="true">
        <property-ui description="Billing Identifier - Available after customer enrolls with MaaS360." label="Billing ID" type="textBox"/>
      </property>
      <property name="account_name" required="true">
        <property-ui description="" label="Account Name" type="textBox"/>
      </property>
      <property name="username" required="true">
        <property-ui description="For use with basic authentication." label="MAAS Admin Username" type="textBox"/>
      </property>
      <property name="password" required="true">
        <property-ui description="For use with basic authentication." label="MAAS Admin Password" type="secureBox"/>
      </property>
      <property name="auth_token" required="true">
        <property-ui default-value="${p?:environment/auth_token}" description="Token provided by the authentication web service called" label="Auth Token" type="textBox"/>
      </property>
      <property name="maas360hosted" required="true">
        <property-ui default-value="Yes" description="Provided during application provisioning." label="MaaS360 Hosted" type="textBox"/>
      </property>
      <property name="app_type" required="true">
        <property-ui description="Possible values: 1: iOS Enterprise Application 3: Android Enterprise Application" label="Application Type" type="textBox"/>
      </property>
      <property name="app_source" required="true">
        <property-ui description="The ipa/apk file to be uploaded." label="Application Source" type="textBox"/>
      </property>
      <property name="app_bundle_id" required="true">
        <property-ui description="The ipa's Bundle ID." label="Application Bundle ID" type="textBox"/>
      </property>
      <property name="maintain_as_additional_version" required="true">
        <property-ui description="Whether to upload as primary or secondary version. Possible Values: Yes | No" label="Additional version?" type="textBox"/>
      </property>
      <property name="app_attribute" required="false">
        <property-ui description="Attribute name and values." label="App Attribute(s)" type="textAreaBox"/>
      </property>
      <property name="outFile">
        <property-ui description="If a file name is provided, the response body will be written to that file. The file name is relative to the working directory." label="Output File" type="textBox"/>
      </property>
    </properties>
    <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/commons-httpclient-3.1.jar:lib/commons-codec-1.3.jar:lib/commons-logging-1.1.jar:lib/mobilefirst-fiberlink.jar:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="upgradeAppPlus.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  <step-type name="Add iOS Mobile App">
    <description>Sends a WebService call to Add Enterprise iOS App. Required to be MaaS360 Hosted for this Integration to work.</description>
    <properties>
      <property name="url" required="true">
        <property-ui description="The Root WS URL to send the HTTP call. Should look like https://services.fiberlink.com/. Get the URL for your MaaS instance from Fiberlink" label="URL" type="textBox"/>
      </property>
      <property name="billing_id" required="true">
        <property-ui description="Billing Identifier - Available after customer enrolls with MaaS360." label="Billing ID" type="textBox"/>
      </property>
      <property name="maas360hosted" required="true">
        <property-ui description="" label="MaaS360 Hosted" type="selectBox" default-value="Yes"/>
        <value label="Yes">Yes</value>
  		<value label="No">No</value>
      </property>
      <property name="account_name" required="true">
        <property-ui description="" label="Account Name" type="textBox"/>
      </property>
      <property name="username" required="true">
        <property-ui description="For use with basic authentication." label="MAAS Admin Username" type="textBox"/>
      </property>
      <property name="password" required="true">
        <property-ui description="For use with basic authentication." label="MAAS Admin Password" type="secureBox"/>
      </property>
      <property name="auth_token" required="true">
        <property-ui default-value="${p?:environment/auth_token}" description="Token provided by the authentication web service called" label="Auth Token" type="textBox"/>
      </property>
      <property name="app_source" required="true">
        <property-ui description="The ipa/apk file to be uploaded." label="Application Source" type="textBox"/>
      </property>
      <property name="app_bundle_id" required="true">
        <property-ui description="The ipa's Bundle ID." label="Application Bundle ID" type="textBox"/>
      </property>
      <property name="app_description" required="false">
        <property-ui description="The ipa/apk file to be uploaded." label="Application Description" type="textAreaBox"/>
      </property>
      <property name="app_category" required="false">
        <property-ui description="Comma separated list of Categories" label="Application Categories" type="textBox"/>
      </property>
      <property name="removeApp" required="true">
        <property-ui description="" label="Remove App if under MDM" type="selectBox" default-value="No"/>
        <value label="Yes">Yes</value>
  		<value label="No">No</value>
      </property>
      <property name="restrictDataBackup" required="true">
        <property-ui description="" label="Restrict Data Backup to iTunes" type="selectBox" default-value="No"/>
        <value label="Yes">Yes</value>
  		<value label="No">No</value>
      </property>
      <property name="showInADP" required="true">
        <property-ui description="Relevant only If App Discovery Portal is enabled for the account" label="Show in App Discovery Portal" type="selectBox" default-value="No"/>
        <value label="0: Not Available">0</value>
  		<value label="1: View Only">1</value>
  		<value label="2: View and Request">2</value>
      </property>
      <property name="appOwner" required="false">
        <property-ui description="Email Address of the App Owner who needs to be intimated" label="Email for App Owner" type="textBox"/>
      </property>
      <property name="app_attribute" required="false">
        <property-ui description="Attribute name and values." label="App Attribute(s)" type="textAreaBox"/>
      </property>
      <property name="outFile">
        <property-ui description="If a file name is provided, the response body will be written to that file. The file name is relative to the working directory." label="Output File" type="textBox"/>
      </property>
    </properties>
    <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/commons-httpclient-3.1.jar:lib/commons-codec-1.3.jar:lib/commons-logging-1.1.jar:lib/mobilefirst-fiberlink.jar:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="addiOSAPP.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  <step-type name="Distribute APP">
    <description>Send WS call to distribute app</description>
    <properties>
      <property name="url" required="true">
        <property-ui description="The Root WS URL to send the HTTP call. Should look like https://services.fiberlink.com/. Get the URL for your MaaS instance from Fiberlink" label="URL" type="textBox"/>
      </property>
      <property name="billing_id" required="true">
        <property-ui description="Billing Identifier - Available after customer enrolls with MaaS360." label="Billing ID" type="textBox"/>
      </property>
      <property name="auth_token" required="true">
        <property-ui default-value="${p?:environment/auth_token}" description="Token provided by the authentication web service called" label="Auth Token" type="textBox"/>
      </property>
      <property name="app_type" required="true">
        <property-ui description="Possible values: 1: iOS Enterprise Application 2: iOS App Store Application 3: Android Enterprise Application 4: Android Market Application" label="Application Type" type="textBox"/>
      </property>
      <property name="app_bundle_id" required="true">
        <property-ui description="The ipa's Bundle ID." label="Application Bundle ID" type="textBox"/>
      </property>
      <property name="target_devices" required="true">
        <property-ui description="Possible values: 0: All Devices 1: Device Group 2: Specific Device" label="Target Devices" type="textBox"/>
      </property>
      <property name="device_group_id" required="false">
        <property-ui description="Required if targetDevices = 1" label="Device Group ID" type="textBox"/>
      </property>
      <property name="device_id" required="false">
        <property-ui description="Required if targetDevices = 2" label="Device ID" type="textBox"/>
      </property>
      <property name="instant_install" required="true">
        <property-ui default-value="No" description="Possible values: Yes, No; Relevant only for appType = 1 or 2 (For others, this value is ignored)" label="Instant Install?" type="textBox"/>
      </property>
      <property name="send_email" required="true">
        <property-ui default-value="No" description="Possible values: Yes, No" label="Send Email?" type="textBox"/>
      </property>
      <property name="outFile">
        <property-ui description="If a file name is provided, the response body will be written to that file. The file name is relative to the working directory." label="Output File" type="textBox"/>
      </property>
    </properties>
    <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/commons-httpclient-3.1.jar:lib/commons-codec-1.3.jar:lib/commons-logging-1.1.jar:lib/mobilefirst-fiberlink.jar:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="distributeAPP.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  <step-type name="Get Device Groups">
    <description>Get all Device Groups (Public, Private and MaaS360 defined) for the currently logged-in Administrator</description>
    <properties>
      <property name="url" required="true">
        <property-ui description="The Root WS URL to send the HTTP call. Should look like https://services.fiberlink.com/. Get the URL for your MaaS instance from Fiberlink" label="URL" type="textBox"/>
      </property>
      <property name="billing_id" required="true">
        <property-ui description="Billing ID of the account for which the web-service is being executed" label="Billing ID" type="textBox"/>
      </property>
      <property name="auth_token" required="true">
        <property-ui default-value="${p?:environment/auth_token}" description="Token provided by the authentication web service" label="Auth Token" type="textBox"/>
      </property>
      <property name="outFile">
        <property-ui description="If a file name is provided, the response body will be written to that file. The file name is relative to the working directory." label="Output File" type="textBox"/>
      </property>
    </properties>
    <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/commons-httpclient-3.1.jar:lib/commons-codec-1.3.jar:lib/commons-logging-1.1.jar:lib/mobilefirst-fiberlink.jar:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="getDeviceGroups.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  <step-type name="Get App Details">
    <description>Return all details of the Applications (only supported for Active Apps)</description>
    <properties>
      <property name="url" required="true">
        <property-ui description="The Root WS URL to send the HTTP call. Should look like https://services.fiberlink.com/. Get the URL for your MaaS instance from Fiberlink" label="URL" type="textBox"/>
      </property>
      <property name="billing_id" required="true">
        <property-ui description="Billing ID of the account for which the web-service is being executed" label="Billing ID" type="textBox"/>
      </property>
      <property name="auth_token" required="true">
        <property-ui default-value="${p?:environment/auth_token}" description="Token provided by the authentication web service" label="Auth Token" type="textBox"/>
      </property>
      <property name="app_type" required="true">
        <property-ui description="Possible values: 1: iOS Enterprise Application 2: iOS App Store Application 3: Android Enterprise Application 4: Android Market Application" label="Application Type" type="textBox"/>
      </property>
      <property name="app_bundle_id" required="true">
        <property-ui description="The ipa's Bundle ID." label="Application Bundle ID" type="textBox"/>
      </property>
      <property name="outFile">
        <property-ui description="If a file name is provided, the response body will be written to that file. The file name is relative to the working directory." label="Output File" type="textBox"/>
      </property>
    </properties>
    <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/commons-httpclient-3.1.jar:lib/commons-codec-1.3.jar:lib/commons-logging-1.1.jar:lib/mobilefirst-fiberlink.jar:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="getAppDetails.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
  <step-type name="Mark As Primary">
    <description>Mark a particular version of App as primary</description>
    <properties>
      <property name="url" required="true">
        <property-ui description="The Root WS URL to send the HTTP call. Should look like https://services.fiberlink.com/. Get the URL for your MaaS instance from Fiberlink" label="URL" type="textBox"/>
      </property>
      <property name="billing_id" required="true">
        <property-ui description="Billing ID of the account for which the web-service is being executed" label="Billing ID" type="textBox"/>
      </property>
      <property name="auth_token" required="true">
        <property-ui default-value="${p?:environment/auth_token}" description="Token provided by the authentication web service" label="Auth Token" type="textBox"/>
      </property>
      <property name="app_type" required="true">
        <property-ui description="Possible values: 1: iOS Enterprise Application 2: iOS App Store Application 3: Android Enterprise Application 4: Android Market Application" label="Application Type" type="textBox"/>
      </property>
      <property name="app_bundle_id" required="true">
        <property-ui description="The ipa's Bundle ID." label="Application Bundle ID" type="textBox"/>
      </property>
      <property name="app_version" required="true">
        <property-ui description="Version of app to be upgraded, if more than one version is stored" label="App Version to Upgrade" type="textBox"/>
      </property>
      <property name="outFile">
        <property-ui description="If a file name is provided, the response body will be written to that file. The file name is relative to the working directory." label="Output File" type="textBox"/>
      </property>
    </properties>
    <post-processing><![CDATA[
        if (properties.get("exitCode") != 0) {
            properties.put(new java.lang.String("Status"), new java.lang.String("Failure"));
        }
        else {
            properties.put("Status", "Success");
        }
     ]]></post-processing>
    <command program="${GROOVY_HOME}/bin/groovy">
      <arg value="-cp"/>
      <arg path="classes:lib/commons-httpclient-3.1.jar:lib/commons-codec-1.3.jar:lib/commons-logging-1.1.jar:lib/mobilefirst-fiberlink.jar:lib/groovy-plugin-utils-1.0.jar"/>
      <arg file="markAsPrimary.groovy"/>
      <arg file="${PLUGIN_INPUT_PROPS}"/>
      <arg file="${PLUGIN_OUTPUT_PROPS}"/>
    </command>
  </step-type>
</plugin>
